# Ignore everything in repository root
/*
**/node_modules/

# Files to not ignore
!/.gitignore
!/README.md
!/lima-box.yaml
!/nvim-remote.sh
!/skim_search.sh

# Folder to not ignore
!/amethyst/
!/atuin/
!/fish/
!/ghostty/
!/gitui/
!/helix/
!/hypr/
!/kitty/
!/lazygit/
!/neovide/
!/niri/
!/nvim/
!/opencode/
!/television/
!/tmux/
!/tmuxinator/
!/vim/
!/vimclap/
!/vscode/
!/wezterm/
!/yazi/
!/zed/keymap.json
!/zed/settings.json
!/zed/task.json
!/zellij/
!/zsh/

# Files to not ignore
coc/memos.json
fish/fish_variables
fish/fishd.*
nvim/lazy-lock.json
opencode/get-shit-done/INSTALLED_FILES.json
opencode/get-shit-done/VERSION
zsh/.zcomp*
zsh/.zhistory
zsh/.zim/
zsh/.zsh_history
zsh/.zsh_sessions/

