# Ignore everything in repository root
/*

# Files to not ignore
!/.gitignore
!/README.md

# Folder to not ignore
!/fish/
!/wezterm/
!/helix/
!/nvim/
!/vscode/
!/television/
!/ghostty/
!/zellij/
!/gitui/
!/zed/settings.json
!/zed/keymap.json

fish/fish_variables
fish/fishd.*
nvim/lazy-lock.json
