# Ignore everything in repository root
/*
**/node_modules/

# Files to not ignore
!/.gitignore
!/README.md
!/lima-box.yaml
!/nvim-remote.sh
!/skim_search.sh

# Folder to not ignore
!/atuin/
!/fish/
!/wezterm/
!/helix/
!/nvim/
!/vscode/
!/television/
!/ghostty/
!/zellij/
!/gitui/
!/zed/settings.json
!/zed/keymap.json
!/zed/task.json
!/yazi/
!/lazygit/
!/neovide/
!/vim/
!/coc/
!/zsh/
!/tmux/
!/hypr/
!/opencode/
!/kitty/
!/niri/
!/tmuxinator/
!/vimclap/

fish/fish_variables
fish/fishd.*
nvim/lazy-lock.json
zsh/.zcomp*
zsh/.zsh_sessions/
zsh/.zsh_history
zsh/.zim/
zsh/.zhistory
